<div id="footer">
    <p>
        ©2024 Pierre's Sweet and Savory Treats
        <br />
        Website by <a href="https://mejia.dev" target="_blank" rel="noopener noreferrer">mejia.dev</a><br />
    </p>
</div>