<div id="footer">
  <div id="footerContent">
    <p>©2024 Pierre's Sweet and Savory Treats</p>
    <p>Website by <a href="https://mejia.dev" target="_blank" rel="noopener noreferrer">mejia.dev</a></p>
  </div>
</div>