<div id="footer">
    <p>
        ©2024 Pierre's Sweet and Savory Treats
        <br />
        Web Design by <a href="https://github.com/mejia-dev" target="_blank" rel="noopener noreferrer">github.com/mejia-dev</a><br />
    </p>
</div>