@{
  Layout = "_Layout";
}

@model PierresTreats.Models.Treat
@using PierresTreats.Models;

<div class="bodyColumnA">
  <p>@Html.ActionLink("Back to Treat", "Details", new { id = Model.TreatId })</p>
</div>


<div class="bodyColumnB">
  <h2>@ViewBag.PageTitle</h2>
  @using (Html.BeginForm())
  {
    @Html.HiddenFor(model => model.TreatId)
    @Html.DropDownList("FlavorId")
    <br />
    <input type="submit" value="Add Flavor" />
  }
</div>
