@{
  Layout = "_Layout";
}
@model PierresTreats.Models.TreatFlavor
@using PierresTreats.Models;

<div class="bodyColumnA">
  <p>@Html.ActionLink("Cancel", "Details", new { id = Model.TreatId })</p>
</div>


<div class="bodyColumnB">
  <h2>@ViewBag.PageTitle</h2>
  <p class="error">Please confirm the removal of @Model.Flavor.FlavorName-flavored @Model.Treat.TreatName by clicking the button below:</p>
  @using (Html.BeginForm())
  {
    <input type="submit" value="Delete This Flavor of Treat" />
  }
</div>