@import url('https://fonts.cdnfonts.com/css/delight-coffee-2');

.error {
  color: red;
}

.error>span>a {
  color: red;
}

#header {
  background-color: #c196ca;
  color: white;
  border-radius: 20px;
  padding: 10px;
}

body {
  background-color: #eedef2;
  text-align: center;
}

#footer {
  background-color: #93bc9f;
  padding: 10px;
  position:fixed;
	bottom:0px;
	left:0px;
	width:100%;
}

h1 {
  font-family: 'Delight Coffee', sans-serif;
  font-size: 200%;
}

button {
  background-color: #b6d3be;
  border-radius: 10px;
  border-style: none;
  margin: 10px;
  padding: 10px;
}

input {
  background-color: #b6d3be;
}