@{
  Layout = "_Layout";
}

@model PierresTreats.Models.Flavor
@using PierresTreats.Models;


<div class="bodyColumnA">
  <p>@Html.ActionLink("Back to Flavor", "Details", new { id = Model.FlavorId })</p>
</div>


<div class="bodyColumnB">
  <h2>@ViewBag.PageTitle</h2>
  @using (Html.BeginForm())
  {
    @Html.HiddenFor(model => model.FlavorId)
    @Html.DropDownList("TreatId")
    <br />
    <br />
    <input type="submit" value="Add Treat" />
  }
</div>
