@{
  Layout = "_Layout";
}

@model PierresTreats.Models.Flavor
@using PierresTreats.Models;

<h2>@ViewBag.PageTitle</h2>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.FlavorId)
  @Html.DropDownList("TreatId")
  <br />
  <input type="submit" value="Add Treat" />
}

<p>@Html.ActionLink("Go back", "Details", new { id = Model.FlavorId })</p>