@{
  Layout = "_Layout";
}

@model PierresTreats.Models.TreatFlavor

<h2>@ViewBag.PageTitle</h2>

<p class="error">Please confirm the removal of this treat flavor by clicking the button below:</p>
@using (Html.BeginForm("DeleteTreat", "Flavors"))
{
  <input type="submit" value="Delete This Flavor of Treat" />
}
@* @Html.ActionLink("Cancel", "Details", new { id = Model.Flavor.FlavorId }) *@